<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HouseMoney003</title>
<link th:href="@{/css/style.css}" rel="styleSheet">
</head>
<body>
	<header>
		<p>HouseMoney003</p>
	</header>

	<div class="container">
		<div class="home_box">
			<div>
				<div class="row">
					<h3>今月の収支</h3>
				</div>
				<div>
					<button class="button">入出金登録</button>
				</div>
				<div>
					<button class="button">固定費登録</button>
				</div>
				<div>
					<button class="button">日記</button>
				</div>
			</div>

			<div>
				<div class="row">
					<h3>入金一覧</h3>
					<table>
						<thead>
							<tr>
								<th>日付</th>
								<th>入金額</th>
								<th>メモ</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><button class="button">編集</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<h3>出金一覧</h3>
					<table>
						<thead>
							<tr>
								<th>日付</th>
								<th>出金額</th>
								<th>メモ</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><button class="button">編集</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<footer>
		<p>202303 KAAYE</p>
	</footer>
</body>
</html>