<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HouseMoney003 | サインイン</title>
</head>
<body>
	<header>
		<p>HouseMoney003</p>
	</header>

	<div class="container">
		<div class="form-body">
			<form>
				<div class="form-row">
					<label for="name">User name</label>
					<input type="text" />
				</div>

				<div class="form-row">
					<label for="password">Password</label>
					<input type="password" />
				</div>

				<div class="form-row">
					<label for="telephone">Tel number</label>
					<input type="number" />
				</div>

				<input type="submit" value="Sign up">
			</form>
		</div>
	</div>

	<footer>
		<p>202303 KAAYE</p>
	</footer>
</body>
</html>