<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.housempney2.mapper.FixedCostMapper">
	<select id="findAll" resultType="com.example.housemoney2.entity.FixedCost">
		SELECT
			rent_costs,
			utility_costs,
			phone_costs,
			othrs
		FROM
			fixed_costs
	</select>
	<insert id="create">
		INSERT INTO fixed_costs(
			id,
			rent_costs,
			utility_costs,
			phone_costs,
			othrs
		)VALUES(
			#{id},
			#{rentCosts},
			#{utilityCosts},
			#{phoneCosts},
			#{others}
		)
	</insert>
	<update id="edit">
		UPDATE spendings SET
			rent_costs = #{rentCosts},
			utility_costs = #{utilityCosts},
			phone_costs = #{phoneCosts},
			others = #{others},
			updated_at = NOW()
		WHERE
			id = #{id}
	</update>
</mapper>