<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.housempney2.entity.SpendingMapper">
	<select id="findAll">
		SELECT
			food_cost,
			life_cost,
			others
		FROM
			spending
	</select>
	<insert id="create">
		INSERT INTO spendings(
			id,
			food_cost,
			life_cost,
			others
		)VALUES(
			#{id},
			#{foodCosts},
			#{lifeCosts},
			#{others}
		)
	</insert>
	<update id="edit">
		UPDATE spendings SET
			food_costs = #{foodCosts},
			life_costs = #{lifeCosts},
			others = #{others},
			updated_at = NOW()
		WHERE
			id = #{id}
	</update>
</mapper>