<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="findAll" resultType="mapper.User">
	SELECT
		users.id,
		users.name,
		users.password,
		users.phone_number AS phoneNumber,
		users.income,
		users.saving
	FROM
		users
	</select>
	<insert id="create">
	INSERT INTO users(
		id,
		name,
		password,
		phone_number,
		income,
		saving
		)
	VALUES(
		#{id},
		#{name},
		#{password},
		#{phoneNumber},
		#{income},
		#{saving}
		)
	</insert>
</mapper>